@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0
}

.filtro_status {
    display: flex;
    flex-direction: column;
    gap:8px;

}

.icon {
    width: 20px;
    height: 20px;
}
.titulo {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.opcao {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
}