@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.titulo {

    font-family: "Montserrat", sans-serif;
    font-size: 25.265px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0px;

}

.botao {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-self: center;
    gap: 5px;

    padding: 1.805px 6.329px 1.483px 6.316px;
    background-color: #88F75B;
    border-radius: 24.362px;
    width: 125px;
    height: 34.288px;

    color: #112422;

    justify-content: space-around;


}

