@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.info_wrapper {
    padding-left: 16px;
    padding-right: 16px;
}


.info {
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 550;
    padding: 10px;
}
