.tabela {
    border-style:hidden;
    border-radius: 14px;

}


.label {
    color: #ffffff!important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 20px!important;
    font-weight: 550!important;
    padding: 15px!important;
    text-align: center !important;
}

