
.label {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 550;
    padding: 15px;
}

.divisao{
    height: 0.0001px;
    background-color: #ffffff67;
}
