.acordeao {
    color: #ffffff !important;
    background-color: #41504E !important;
}

.nome_titular {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.details {
    color: #ffffff;
    background-color: #41504E;
}

