@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.acordeao {
    color: #ffffff !important;
    background-color: #1a4941 !important;

    margin-bottom: 10px;

    
}

.info_wrapper {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.info {

    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 550;
    padding: 10px;

}

.details {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 14px !important;
}





