@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.campo_texto {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img_titulo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.img_titulo h1 {
    margin: 0;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-content: center;
}

.busca {
    border-radius: 7px;
    border: 1px solid #A0AEAC;
    background-color: #425E59;
    width: 284px;
    align-self: center;
    height: 25px !important;
}
.MuiTextField-root {
    background-color: red;
}
