@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.acordeao {
    border-radius: 14px !important;
    background-color: #133630 !important;
    margin-bottom: 25px;
    
}

.titulo_acordeao {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
}

.titulo_acordeao p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    margin : 0px;
    border-radius: 14px;

}

.filial {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap:5px;
}

.valor_teto {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap:5px;
}


.infoAcordeao {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 0px !important;
}

.info_wrapper {
    padding-left: 16px;
    padding-right: 16px;
}


.info {
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 550;
    padding: 10px;
}

.label {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 550;
    padding: 15px;
}

.divisao{
    height: 0.0001px;
    background-color: #ffffff67;
}