@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.acordeao {
    border-radius: 14px !important;
    background-color: #133630 !important;
    margin-bottom: 25px;
    
}

.titulo_acordeao {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    height: 40px;

}

.titulo_acordeao p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    margin : 0px;
    border-radius: 14px;

}

.titulo_acordeao img {
    width: 24px;
    height: 24px;
}

.filial {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap:5px;


}

.valor_teto {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap:5px;
}



