@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.cabecalho {
    background: #133630;
    border-bottom-left-radius: 14px;
    height: 80px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cabecalho h1{
    color: #88F75B;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin : 0px;

}