@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.cabecalho {
    background-color: var(--main_color);
    border-bottom-left-radius: 14px;
    height: 80px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cabecalho h1{
    color: var(--titulo_notas_fiscais);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin : 0px;

}

.filtros {
    display:flex;
    flex-direction:row;
    gap:10px;
    align-items: center;
}