@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.infoNota {
    display: flex;
    flex-direction: column;
}

.icone_titulo {
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.icone_titulo h1 {
    margin : 0px;
    height: 20px;
}

.info_wrapper {
    background-color: #112422;
    
    border-radius: 7px;
    height: 38px;

}

.info_wrapper p {
    color: #ffffff;
    text-align: center;
    margin: 0px;
    margin-top: 8px;


    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;

}