@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.filtro_valor {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img_titulo{
    display: flex;
    flex-direction: row;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 700;
    gap: 5px;
}

.img_titulo h1{
    margin : 0px;
}

.img_titulo img{
    width: 20px;
    height: 20px;
}

.cifrao {
    color: #ffffff;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.componente_textField {
    width: 125px;
    height: 38px;
}

.intervalo_valor {
    display: flex;
    flex-direction: row;
    gap:10px;
}

.intervalo_valor .traco{
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    align-self: center;
    margin: 0px;    
}

