.date_picker_wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.date_picker {
    border-radius: 7px;
    color: var(--main_text_color);
    height:35px; 
    background-color: var(--background_filtros_obrigatorios);
    width:180px;
}

.input_wrapper input {
    color: var(--main_text_color) !important;
    font-family: "Montserrat", sans-serif;
    height: 2px !important; 

}
  
.input_wrapper label {
    color: var(--main_text_color) !important;
    font-family: "Montserrat", sans-serif;
}
  
.input_wrapper .MuiOutlinedInput-root {
height: 35px !important;
}
  
