@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.campo_status{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.campo_status h1{
    margin : 0px;
}

.campo_status p{
    margin : 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 50px;
    border-radius: 10px;

    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.campo_status .p_valido {
    background-color: green;
}

.campo_status .p_invalido {
    background-color: red;
}