@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.campo_status{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    gap: 7px;
}

.campo_status h1{
    margin : 0px;
}

.campo_status p{
    margin : 0px;
    border-radius: 10px;
    width: 145px;
    height: 122px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.campo_status .p_valido {
    background-color: green;
}

.campo_status .p_invalido {
    background-color: red;
}

.img_titulo_wrapper {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 140px;
    gap: 5px;
}