@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.status_valido {
    display: flex;
    flex-direction: row;

    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;

    width: 125px;
    height: 38px;

    border-radius: 7px;

    background-color: #006B33;
}

.status_invalido {
    display: flex;
    flex-direction: row;

    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;

    width: 125px;
    height: 38px;

    border-radius: 7px;

    background-color: #FA0200;
}

.titulo {
    margin: 0px;
    justify-content: center;
    align-content: center;
    
}